@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .displayfont {
    font-size: clamp(7rem, -1.1951rem + 21.8537vw, 18.2rem);
  }

  @media (min-width: 800px) {
    #sticky {
      max-width: 1200px;
      margin: 80px auto;

      display: flex;
      flex-flow: row wrap;
    }

    .projects {
      height: 2500px;
      padding: 90px;

      flex: 1 1 70%;
    }

    aside {
      height: 300px;
      padding: 40px;

      flex: 1 1 30%;
      min-width: 300px;

      top: 0;
      position: sticky;
      align-self: flex-start;
    }
  }
  .lineheight {
    line-height: 5.4rem;
    font-size: 4.5rem;
  }
  .imgwidth {
    max-width: 149px;
  }
  .largeimgwidth {
    max-width: 248px;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
